.header{
    color:black;
    height: 25%;
    width: auto;
    background-image: linear-gradient(left,black 5%,yellow 70%,white 25%);
    .logo{
        text-align: center;

    }
        menu{
            height: 50px;
            outline:1px;
           margin-bottom: -10px;
           color:black;
          
.imgRedonda{
    width: 350px;
    height: 350px;
    border-radius:50%;
    border: 1px solid black;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
        }
        ul{
            list-style: none;
  color:yellow;
  a :hover{color:white;
    transition: all 3s;
    height: auto;
  }
  

            li{
                display:inline-block;
                padding: 10px 50px;
                color:yellow;
                background-color: rgb(10, 10, 10);
                text-decoration:none;

            }

        }
     .box-search{
        height: auto;
        width: auto;
        text-align:right;
        bottom: 30px;
        list-style: none;
        display: block;
        margin: -40px;
        margin-right: 50px;


     }
     


     

     @media screen and(max-width:450px) {
         background-color:rgba(245,227,38) ;
     }
    }