
.header{
    .container-fluid{
background-color: white;
height:10%;
margin-top:auto;
  
        .imgRedonda{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid black;
            margin-top:30px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
             }  }
            }