%imgredonda{
    .imgRedonda{
        width: 350px;
        height: 350px;
        border-radius:50%;
        border: 1px solid black;
        margin-top:30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

} 